@model Northwind.Models.Product

<div class="card">
    <div class="card-body">
        <div class="card card-title bg-primary text-white">
            <h2 class="m-3">Add Review</h2>
        </div>
        <form method="post" action="javascript:postReview()" id="reviewForm">

            <div hidden>
                @Html.AntiForgeryToken()
                <input hidden readonly type="hidden" value="@Model.ProductId" name="productID"/>
            </div>

            <div class="form-group">
                <label for="reviewText">Review: <span class="text-secondary">(Required)</span></label>
                <textarea class="form-control" id="reviewText" name="reviewText" rows="3"></textarea>
            </div>

            <div class="form-group">
                <label>Rating: <span class="text-secondary">(Required)</span></label>
                <br/>
                <div class="form-check form-check-inline m-0" id="rating">
                    @for (var i = 1; i <= 5; i++)
                    {
                        <div>
                            <input hidden class="form-check-input rating" type="radio" name="rating" id="rating-@i" value="@i">
                            <label class="form-check-label m-0" for="rating-@i">
                                <i class="bi bi-star h5" style="color: gold;"></i>
                            </label>
                        </div>
                    }
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Create Review</button>
        </form>
    </div>
</div>
<hr/>
<a asp-action="Index" asp-route-id="@Model.CategoryId">Home</a> | <a asp-action="Reviews" asp-route-id="@Model.ProductId">Reviews</a>

@section Scripts {
    <script src="/js/review.js"></script>
}