@model Northwind.Models.Product

<div class="bg-primary m-1 p-1 text-white"><h4>@Model.ProductName Details</h4></div>

@if (!Model.Reviews.Any())
{
  <p>There are no reviews</p>
}
else
{
  <ul>
    @foreach (var review in Model.Reviews)
    {
      <li>
          @review.Rating - @review.ReviewText
          
          @if (User?.Identity?.IsAuthenticated ?? true)
          {
            if (User.IsInRole("admin"))
            {
                <span> | </span><a asp-action="error" asp-route-id="@review.ProductID">Delete</a>
            }
          }
      </li>
    }
  </ul>
}

<hr />
<a asp-action="Index" asp-route-id="@Model.CategoryId">Home</a> | 
<a asp-action="AddReview" asp-route-id="@Model.ProductId">New Review</a>