@model Northwind.Models.Product

@if (!Model.Reviews.Any())
{
    <p>There are no reviews</p>
}
else
{
    <ul class="list-group">
        <li class="list-group-item bg-primary text-white">
            <h2 class="mb-0">@Model.ProductName Reviews</h2>
        </li>

        @foreach (var review in Model.Reviews)
        {
            <li class="list-group-item">
                <div class="pb-3">
                    <h5>@review.Customer.CompanyName</h5>

                    @for (int i = 0; i < review.Rating; i++)
                    {
                        <i class="bi bi-star-fill" style="color:  gold"></i>
                    }

                    @for (int i = 0; i < (5 - review.Rating); i++)
                    {
                        <i class="bi bi-star" style="color:  gold"></i>
                    }
                </div>

                <p>
                    @review.ReviewText
                </p>

                @if (User?.Identity?.IsAuthenticated ?? true)
                {
                    if (User.IsInRole("admin"))
                    {
                        <a class="btn btn-danger" asp-action="DeleteReview" asp-route-pid="@review.ProductId" asp-route-cid="@review.CustomerId">Delete</a>
                    }
                }
            </li>
        }
    </ul>
}

<hr/>
<a asp-action="Index" asp-route-id="@Model.CategoryId">Home</a>
@if (User?.Identity?.IsAuthenticated ?? true)
{
    if (User.IsInRole("admin") || ViewBag.hasProduct)
    {
        <a asp-action="AddReview" asp-route-id="@Model.ProductId"> | Add Review</a>
    }
}